h1, p {
  font-family: Lato;
}
#hero {
  background-image: url('https://images.pexels.com/photos/3961619/pexels-photo-3961619.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-repeat: no-repeat;
  background-size: cover;
}